body {
    background-color: #212121;
}

.bg-darker {
    background-color: #2E2E2E;
}

.white {
    color: white;
}

.space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.webpage {
    padding: 0px;
    margin: auto;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
